@media screen and (max-width: 340px) {
    .place__container {
        grid-template-columns: max-content;
        justify-content: center;
    }

    .experience__content {
        padding: 0;
    }

    .experience__overlay:nth-child(1) {
        width: 190px;
    }

    .experience__overlay:nth-child(2) {
        width: 80px;
    }

    .home__info {
        width: 190px;
        padding: 1rem;
    }

    .experience__img,
    .video__container {
        padding: 0;
    }
}

@media screen and (min-width: 568px) {
    .video__container {
        display: grid;
        grid-template-columns: 0.6fr;
        justify-content: center;
    }

    .place__container {
        grid-template-columns: repeat(3, max-content);
    }

    .subscribe__form {
        width: 470px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__link {
        color: var(--white-color);
        text-transform: initial;
    }

    .nav__link:hover {
        color: var(--white-color);
    }

    .nav__dark {
        position: initial;
    }

    .nav__menu {
        display: flex;
        column-gap: 1rem;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .change-theme-name {
        display: none;
    }

    .change-theme {
        color: var(--white-color);
    }

    .active-link::before {
        background-color: var(--white-color);
    }

    .scroll-header .nav__link {
        color: var(--text-color);
    }

    .scroll-header .active-link {
        color: var(--title-color);
    }

    .scroll-header .active-link::before {
        background-color: var(--title-color);
    }

    .scroll-header .change-theme {
        color: var(--text-color);
    }

    .section {
        padding: 7rem 0 2rem;
    }

    .home__container {
        height: 100vh;
        grid-template-rows: 1.8fr 0.5fr;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        flex-direction: row;
        align-self: flex-end;
        margin-bottom: 3rem;
        column-gap: 2.5rem;
    }

    .home__info {
        bottom: 3rem;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .about__data,
    .about__title {
        text-align: initial;
    }

    .about__title {
        margin-bottom: var(--space-3);
    }

    .about__description {
        margin-bottom: var(--space-4);
    }

    .discover__container {
        width: 610px;
        margin-left: auto;
        margin-right: auto;
    }

    .discover__container,
    .place__container {
        padding-top: 2rem;
    }

    .experience__overlay:nth-child(1) {
        width: 363px;
        margin-right: 4rem;
    }

    .experience__overlay:nth-child(2) {
        width: 160px;
    }

    .subscribe__bg {
        background: none;
        padding: 0;
    }

    .subscribe__container {
        background-color: var(--first-color-second);
        padding: 3.5rem 0;
    }

    .subscribe__input {
        padding: 0 .5rem;
    }

    .footer__rights {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__container {
        grid-template-rows: 2fr 0.5fr;
    }

    .home__info {
        width: 328px;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

    .home__info-title {
        font-size: var(--fs-md);
    }

    .home__info-img {
        width: 240px;
    }

    .about__img-one {
        width: 230px;
    }

    .about__img-two {
        width: 290px;
    }

    .discover__card {
        width: 237px;
    }

    .discover__container {
        width: 700px;
    }

    .discover__data {
        left: 1.5rem;
        bottom: 2rem;
    }

    .discover__title {
        font-size: var(--fs-xl);
    }

    .experience__content {
        margin: var(--space-2) 0;
        column-gap: 3.5rem;
    }

    .experience__overlay:nth-child(1) {
        width: 463px;
        margin-right: 7rem;
    }

    .experience__overlay:nth-child(2) {
        width: 220px;
        top: 3rem;
    }

    .video__container {
        grid-template-columns: 0.7fr;
    }

    .video__description {
        padding: 0 8rem;
    }

    .place__container {
        gap: 3rem 2rem;
    }

    .place__card,
    .place__img {
        height: 263px;
    }

    .footer__content {
        justify-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (min-height: 721px) {
    body {
        margin: 0;
    }

    .home__container,
    .home__img {
        height: 640px;
    }
}