:root {
    --header-height: 3rem;

    --hue-color: 190;
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

    --body-font: "Open Sans", sans-serif;
    --title-font: "Raleway", sans-serif;
    --fs-big: 2.5rem;
    --fs-xxl: 1.5rem;
    --fs-xl: 1.25rem;
    --fs-lg: 1rem;
    --fs-md: 0.938rem;
    --fs-sm: 0.813rem;
    --fs-xs: 0.75rem;

    --fw-medium: 500;
    --fw-semi-bold: 600;

    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 2.5rem;

    --zi-tooltip: 10;
    --zi-fixed: 100;

    --img-transition: 0.3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
    :root {
        --fs-big: 4rem;
        --fs-xxl: 2.25rem;
        --fs-xl: 1.75rem;
        --fs-lg: 1.25rem;
        --fs-md: 1rem;
        --fs-sm: 0.875rem;
        --fs-xs: 0.813rem;
    }
}